<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>自定义组件(alert)插槽</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <style media="screen">
      .alert{
        position: relative;
        height: 200px;
        width: 400px;
        border:1px solid #000;
        margin: 50px auto;
      }
      .close{
        position: absolute;
        right:20px;
        top:20px
      }
      .footer{
        position: absolute;;
        bottom: 20px;
        right: 40px
      }
      .footer button{
        margin-left: 30px
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <v-alert type='info' close @closeAlert='clearData' v-if='isShow'>
          <template v-slot:title>PROGRAM ERR！！！</template>
          <template v-slot:text>程序运行报错,是否继续运行程序</template>
          <template v-slot:footer>
            <v-btn type="success" @btn-click="save">确定</v-btn>
            <v-btn type="danger" @btn-click="cancle">取消</v-btn>
          </template>
        </v-alert>
        <v-alert type='danger'>
          <template v-slot:title>PROGRAM DAGER！！！</template>
          <template v-slot:text>程序终止运行</template>
        </v-alert>
        <v-alert type='warning' close @closeAlert='clearData'>
          <template v-slot:title>WARNING :888011！！！</template>
          <template v-slot:text>点击右上角立即停止运行</template>
        </v-alert>
        <v-alert type='success' close @closeAlert='clearData' v-if="isShow">
          <template v-slot:title>PRAGRAM SUCCESS！！！</template>
          <template v-slot:text>程序运行成功,点击下一步完成启动</template>
          <template v-slot:footer>
            <v-btn type="info" @btn-click="next">下一步</v-btn>
            <v-btn type="danger" @btn-click="cancle">取消</v-btn>
          </template>
        </v-alert>
      </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="./11-v-alert.js"></script>
    <script src="./11-v-btn(alert).js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el:'#app',
        data: {
          isShow: true
        },
        methods: {
          clearData: function() {
            console.log('程序停止，清除数据');
          },
          save: function() {
            alert('保存成功');
            this.isShow = false
          },
          cancle: function() {
            alert('取消');
            this.isShow = false
          },
          next: function() {
            alert('下一步')
            this.isShow = false
          }
        }
      })
    </script>
  </body>
</html>
