<!DOCTYPE html>
<html lang="zh-cn" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>计算器(vue.js)</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="num1">
      <select v-model="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="number" v-model="num2">
      <input type="number" v-model="result" disabled>
      <div>
        <h2>货币转换</h2>
        <p>人民币转美元，今日汇率：{{rate}}</p>
        <input type="number" v-model="rmb">
        <input type="number" v-model="dollar">
      </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          num1: 0,
          num2: 0,
          opt: '+',
          rate: 0.14,
          rmb: 0
        },
        //数值计算完毕再传入
        computed: {
          dollar: function(){
            return this.rmb * this.rate
          },
          result: function(){
            var result = 0
            switch (this.opt){
              case '+':
              result = parseInt(this.num1) + parseInt(this.num2)
              break;
              case '-':
              result = this.num1 - this.num2
              break;
              case '*':
              result = this.num1 * this.num2
              break;
              case '/':
              result = this.num1 / this.num2
              break;
              default:
              result = this.num1 + this.num2
            }
            return result
          }
        }
      })
    </script>
  </body>
</html>
