<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>计算器(vue.js)</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="num1">
      <select v-model="opt">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
      <input type="number" v-model="num2">
      <button type="button" v-on:click="calculator">计算</button>
      <button type="button" @click="calculator">计算</button>
      <input type="number" v-model="result" disabled>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          num1: 0,
          num2: 0,
          opt: '+',
          result: 0
        },
        methods: {
          calculator: function(){
            switch (this.opt){
              case '+':
                this.result = parseInt(this.num1) + parseInt(this.num2)
              break;
              case '-':
                this.result = this.num1 - this.num2
              break;
              case '*':
                this.result = this.num1 * this.num2
              break;
              case '/':
                this.result = this.num1 / this.num2
              break;
              default:
                this.result = this.num1 + this.num2
            }
          }
        }
      })
    </script>
  </body>
</html>
