<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>汇率转化</title>
  </head>
  <body>
    <div id="app">
        <h2>货币转换</h2>
        <p>人民币转美元，今日汇率：{{rate}}</p>
        <input type="number" v-model="rmb">
        <span>{{rmb | tran1}}</span>
        <br>
        <input type="number" v-model="dollar" disabled>
        <span>{{dollar | tran2}}</span>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        data: {
          rate: 0.1476,
          rmb: 0
        },
        computed: {
          dollar: function(){
            return (this.rmb * this.rate).toFixed(2)
          }
        },
        filters: {
          tran1: function(value){
            return '￥' + value
          },
          tran2: function(value){
            return '$' + value
          }
        }
      })
    </script>
  </body>
</html>
